.char-circle {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
  transition: background 0.2s;
}
@media only screen and (max-width: 600px) {
  .char-circle {
    width: 14vw;
    height: 14vw;
    overflow: hidden;
  }
  .char-circle h3 {
    display: none;
  }
  .char-circle .ask-again-btn {
    display: none;
  }
}
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: 0;
  background: white;
  transition: all 0.2s;
}
.char-circle:hover .hover-overlay {
  opacity: 0.3;
  cursor: pointer;
}
.char-circle.chosen {
  /* border: 3px solid black; */
  width: 14vw;
  height: 14vw;
}
.char-circle.chosen h3 {
  display: none;
}

.char-circle.gray-mode {
  background: gray !important;
}
.char-circle.gray-mode img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

img {
  height: 80%;
  z-index: 3;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s; */
  cursor: pointer;
}
.char-circle.nynaeve img {
  height: 115%;
  margin-left: -42%;
  margin-bottom: -39%;
}
.char-circle.egwene img {
  height: 106%;
  margin-left: -8%;
  margin-bottom: -22%;
}

.char-circle h3 {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  background: white;
  border-radius: 6px;
  padding: 4px 4px;
  margin: 0;
  transform: translateY(50%);
  border: 3px solid black;
  font-size: 1rem;
}

.ask-again-btn {
  outline: none;
  border: none;
  height: 32px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 12px;
  position: absolute;
  bottom: -68px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  border: 3px solid black;
}
.ask-again-btn:hover {
  opacity: 0.92;
}
