@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.App {
  font-family: "Fredoka One", cursive;
}

.heading {
  width: 100%;
  text-align: center;
  background: whitesmoke;
  padding-top: 2rem;
}
.heading h1 {
  margin: 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: 0;
  padding: 16px;
}

.team-wrapper {
  padding: 4rem;
  display: flex;
  justify-content: center;
  background: whitesmoke;
}

.answer-wrapper {
  margin-bottom: 18px;
  margin-top: 2rem;
  display: flex;
  height: 10vw;
  padding: 3vw;
  align-items: center;
  transform: translateX(-100%);
  transition: transform 0.4s;
}
.answer-wrapper.animated {
  transform: translateX(0);
}
.answer-wrapper .answer-baloon {
  flex: 1;
  height: 100%;
  border: 8px solid black;
  border-radius: 48px;
  margin-left: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 12px;
  text-align: center;
}
.answer-baloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 26px solid transparent;
  border-right: 26px solid black;
}

@media only screen and (max-width: 800px) {
  body {
    padding-bottom: 1rem;
  }
  .team-wrapper {
    flex-wrap: wrap;
    padding: 12px;
    padding-top: 22px;
  }
  .team-wrapper .char-wrapper {
    flex: 22vw;
    margin: 8px 0;
    display: flex;
    justify-content: center;
  }
  .answer-wrapper {
    /*  */
    margin-bottom: 0;
    margin-top: 12px;
    padding: 16px;
  }
  .answer-wrapper .answer-baloon {
    border: 4px solid black;
    border-radius: 22px;
    margin-left: 22px;
    font-size: 1rem;
  }
  .answer-baloon:after {
    left: -12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid black;
  }
}
