@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.App {
  font-family: "Fredoka One", cursive;
  height: 100vh;
  --timer-background: blue;
  --timer-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.App.md {
  background-image: url("./assets/img/md.svg");
}
.App.n {
  background-image: url("./assets/img/n.svg");
}
.App.l {
  background-image: url("./assets/img/l.svg");
}
.App.e {
  background-image: url("./assets/img/e.svg");
}
.App.r {
  background-image: url("./assets/img/r.svg");
}
.App.p {
  background-image: url("./assets/img/p.svg");
}
.App.mc {
  background-image: url("./assets/img/mc.svg");
}

.App > .inner-wrapper {
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.team-wrapper {
  flex: 2;
  /* padding: 4rem; */
  display: flex;
  justify-content: center;
  /* background: var(--timer-color)smoke; */
}

@media only screen and (max-width: 800px) {
  body {
    padding-bottom: 1rem;
  }
  .team-wrapper {
    flex-wrap: wrap;
    padding: 12px;
    padding-top: 22px;
  }
  .team-wrapper .char-wrapper {
    flex: 22vw;
    margin: 8px 0;
    display: flex;
    justify-content: center;
  }
}

.theme {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}
.theme .chooser-label {
  width: 100%;
  background: var(--timer-background);
  color: var(--timer-color);
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
.theme-chooser {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
}
.theme-chooser .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  background: var(--timer-background);
  color: var(--timer-color);
}
.theme-chooser .arrow:hover {
  opacity: 0.7;
  cursor: pointer;
}
.theme-chooser .arrow svg {
  fill: var(--timer-color);
}
.theme-chooser .current-theme {
  background: var(--timer-background);
  color: var(--timer-color);
  flex: 1;
  margin: 0 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wot-timer {
  /* height: 100vh;
  width: 100vw; */
  flex: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wot-timer .timer-title {
  background: var(--timer-background);
  margin: 0 1.4vw;
  margin-bottom: 8px;
  padding: 6px;
  box-sizing: border-box;
  font-size: 3vw;
  letter-spacing: 1vw;
  text-align: center;
  font-weight: 700;
  color: var(--timer-color);
}
.theme-character {
  display: flex;
  height: 100px;
  margin: 0 1.4vw;
  margin-bottom: 8px;
}
.char-avatar {
  height: 100px;
  width: 100px;
  background: var(--timer-background);
  margin-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.char-avatar img {
  height: 80%;
  width: 80%;
}
.char-avatar img.n-img {
  transform: scale(1.5);
  margin-left: -41px;
  margin-bottom: -37px;
}
.char-avatar img.e-img {
  transform: scale(1.3);
  margin-left: -4px;
  margin-bottom: -20px;
}
.char-text {
  flex: 1;
  background: var(--timer-background);
  color: var(--timer-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.wot-timer .values,
.wot-timer .labels {
  display: flex;
  justify-content: center;
}

.wot-timer .values .timer-col {
  /* width: 16vw; */
  /* border: 1px solid; */
  text-align: center;
}
.wot-timer .values .timer-col span {
  width: 8vw;
  font-size: 12vw;
  line-height: 12vw;
  display: inline-block;
  text-align: center;
  background: var(--timer-background);
  color: var(--timer-color);
  padding: 0 6px;
}
.wot-timer .values .timer-col span:first-child {
  margin-right: 0.6vw;
}

.wot-timer .labels {
  margin-bottom: 2rem;
}
.wot-timer .labels .timer-col {
  width: 16.6vw;
  text-align: right;
  padding-left: 24px;
  font-size: 2vw;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  background: var(--timer-background);
  color: var(--timer-color);
  margin-top: 8px;
}
.wot-timer .labels .timer-col:not(:first-child) {
  /* opacity: 0; */
}
.wot-timer .labels .timer-col div {
  padding: 4px;
}

.wot-timer .timer-col {
  /* flex: 1; */
  width: fit-content;
  margin: 0 1.4vw;
}
